body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: lightgreen;
  }

  .example {
    width: 800px;
    height: 200px;
  }

  .h{
text-align: center;
  }
